<div class="container">
  <div class="row">

    <div class="col-md-12 link-area">
      <a href="/topics">Back to all topics</a>
    </div>

    <div class="col-md-12 topic-title-description">
        <span class="bolder"><%= topic.title %></span>: <%= topic.description %>
    </div>

    <div class="col-md-12 topic-misc">
    Number of Comments: <%= topic.comments.length %> |
    Number of Likes: <%= topic.likes %>
    <form class="like-button"
          action="/topics/<%= topic._id %>/like/<%= topic.likes %>/?_method=PATCH"
           method="post">
       <button type="submit" class="btn-xs btn-success" id="submit-button">
         &#128077; Like!
       </button>
    </form> |
    Created by:
      <a href="/users/<%= topic.userid %>">
        <%= topic.userid %>
      </a>
      <br>

    <% if (topic.userid === currentuser) { %>
      <form class="edit-button"
            action="/topics/<%= topic._id %>/edit"
             method="get">
         <button type="submit" class="btn-xs btn-info" id="submit-button">
           Edit
         </button>
      </form> |
      <form class="delete-button"
            action="/topics/<%= topic._id %>?_method=DELETE"
             method="post">
         <button type="submit" class="btn-xs btn-danger" id="submit-button">
           Delete Topic
         </button>
      </form>
    <% } %>

  </div>

  <div class="col-md-12 comment-top">
    Comments for this topic (newest on top) |
    <!-- <form class="new-comment-button"
          action="/topics/<%= topic._id %>/newcomment"
           method="post"> -->
        <button type="submit" class="btn-xs btn-success expand" id="new-comment-button">
          Add New Comment
        </button>
    <!-- </form> -->
  </div>

  <div class="col-md-12 new-content-area hide-at-start">
  Please enter new comment below:
  <form class="" action="/topics/<%= topic._id %>/newcomment/<%= topic.comments.length %>/?_method=PATCH" method="post">
    <input  type="comment"
            name="topic[newcomment]"
            placeholder="Enter your comment here">
            <br />
     <button type="submit" class="btn-sm btn-primary" id="submit-button">
      Post My Comment
    </button>
  </form>
</div>

  <% for (i = topic.comments.length; i > 0 ; i-- ) { %>
      <div class="col-md-12 comment-area">
        <%= topic.comments[i - 1] %>
      </div>

    <% }; %>


  </div>
</div>
