<div class="container">
  <div class="row">

    <div class="col-md-12 topic-top-area">
      <a href="/topics">Back to all topics</a>
      <hr>
    </div>

    <div class="col-md-12 topic-title-description">
        <u><%= topic.title %></u>: <%= topic.description %>
    </div>

    <div class="col-md-12 topic-misc">
    Number of Comments: <%= topic.comments.length %> |
    Number of Likes: <%= topic.likes %> |
    by
      <a href="/users/<%= topic.userid %>">
        <%= topic.userid %>
      </a>
      <br>

    <% if (topic.userid === currentuser) { %>
        <a href="/topics/<%= topic._id %>/edit" >[Edit]</a> |
      <form class="delete-button"
            action="/topics/<%= topic._id %>?_method=DELETE"
             method="post">
        <input type="submit" value="Delete Topic">
      </form>
    <% } %>

    <hr>
  </div>

  <div class="col-md-12 comment-top">
    Comments:<br>
  </div>
  <div class="col-md-12">
    <form class="new-comment-button"
          action="/topics/<%= topic._id %>/newcomment"
           method="post">
      <input type="submit" value="New Comment">
    </form>
    <hr>
  </div>

  <% for (i = 0; i < topic.comments.length; i++ ) { %>
      <div class="col-md-12 comments-each">
        <h4><%= topic.comments[i] %></h4>
      </div>
      <hr>
    <% }; %>


  </div>
</div>
