<div class="container">
  <div class="row">

    <div class="col-md-12 link-area">
      <a href="/topics">Back to all topics</a>
      <hr>
    </div>

    <div class="col-md-12 topic-title-description">
        Adding your new comment to:<br>
        <u><%= topic.title %></u>: <%= topic.description %>
    </div>

    <div class="col-md-12 topic-misc">
    Number of Comments: <%= topic.comments.length %> |
    Number of Likes: <%= topic.likes %> |
    by
      <a href="/users/<%= topic.userid %>">
        <%= topic.userid %>
      </a>
      <br>

    <% if (topic.userid === currentuser) { %>
        <a href="/topics/<%= topic._id %>/edit" >[Edit]</a> |
      <form class="delete-button"
            action="/topics/<%= topic._id %>?_method=DELETE"
             method="post">
        <input type="submit" value="Delete Topic">
      </form>
    <% } %>

    <hr>
  </div>

  <div class="col-md-12 new-content-area">
  Please enter your new comment below and hit Submit when finished:
  <form class="" action="" method="post">
    <input  type="text"
            name="topic[comments]"
            placeholder="new comment">
            <br />
    <input type="submit">
  </form>
</div>

</div>
</div>
