
<div class="container">
  <div class="row">

    <div class="col-md-12 topic-top-area">
      Currently viewing ALL topics. Click on the title for comments.
      <br>
      <small>(Don't see one that's interesting? <a href="/topics/new">Create a new topic.</a>)</small>
    </div>

    <div class="col-md-12 sort-choices-area">
      Sort Options: <a href="/topics">Date (newest on top)</a> | <a href="/topics/bycomments">Comments (most on top)</a> | <a href="/topics/bylikes">Likes (most on top)</a>
    </div>

    <% topics.forEach(function (topic) { %>
    <div class="col-md-12 topic-title-description">
        <a href="/topics/<%= topic._id %>">
        <u><%= topic.title %></u>: <%= topic.description %></a>
    </div>

    <div class="col-md-12 topic-misc">
    Number of Comments: <%= topic.comments.length %> |
    Number of Likes: <%= topic.likes %> |
    Created by:
      <a href="/users/<%= topic.userid %>">
        <%= topic.userid %>
      </a>
      <br>

    <% if (topic.userid === currentuser) { %>
      <form class="edit-button"
            action="/topics/<%= topic._id %>/edit"
             method="get">
         <button type="submit" class="btn-xs btn-info" id="submit-button">
           Edit
         </button>
      </form> |
      <form class="delete-button"
            action="/topics/<%= topic._id %>?_method=DELETE"
             method="post">
         <button type="submit" class="btn-xs btn-danger" id="submit-button">
           Delete Topic
         </button>
      </form>
    <% } %>

  </div>
  <% }); %>

  </div>

</div>
