
<div class="container">
  <div class="row">

    <div class="topic-top-area">
      Currently viewing ALL topics.
      <span>Click on the title for comments.</span>
      <br>
      <!-- <small>(Don't see one that's interesting? <a href="/topics/new">Create a new topic.</a>)</small> -->
      <small>(Don't see one that's interesting?
      <span><button type="submit" class="btn-xs btn-success expand" id="new-comment-button">
        Create a New Topic
      </button>
      )</span></small>
      <!-- </button><u><span class="expand">Create a new topic.</span></u>)</small> -->
    </div>

    <div class="new-content-area hide-at-start">
      <form class="" action="/topics" method="post">
        <input  type="text"
                name="topic[title]"
                placeholder="Title of the new topic, limit 150 characters">
                <br />
        <input  type="text"
                name="topic[description]"
                placeholder="Short description of the new topic, limit 300 characters">
                <br />
        <!-- <input  type="text"
                name="topic[comments]"
                placeholder="comments, comma separated">
                <br />
        <input  type="Number"
                name="topic[likes]"
                placeholder="number of likes">
                <br /> -->
          <button type="submit" class="btn-sm btn-primary" id="submit-button">
            Create New Topic
          </button>
      </form>
    </div>

    <div class="sort-choices-area">
      Sort by: <a href="/topics">Newest</a> | <a href="/topics/byupdated">Recently Commented</a> | <a href="/topics/bycomments"><span>Most Comments</span></a> | <a href="/topics/bylikes">Most Likes</a>
    </div>

    <% topics.forEach(function (topic) { %>
    <div class="topic-title-description">
        <a href="/topics/<%= topic._id %>">
        <span class="bolder"><%= topic.title %></span>: <%= topic.description %></a>
    </div>

    <div class="topic-misc">
      Created by:
        <a href="/users/<%= topic.userid %>">
          <%= topic.userid %>
        </a> |
      <span>Number of Comments: <%= topic.comments.length %> |</span>
      <span>Number of Likes: <%= topic.likes %></span>
      <br>
      <small>Created on: <%= topic.created %> |
      <span>Last commented: <%= topic.updated %></span>
      </small>
      <br>

    <% if (topic.userid === currentuser) { %>
      <form class="edit-button"
            action="/topics/<%= topic._id %>/edit"
             method="get">
         <button type="submit" class="btn-xs btn-info" id="submit-button">
           Edit
         </button>
      </form> |
      <form class="delete-button"
            action="/topics/<%= topic._id %>?_method=DELETE"
             method="post">
         <button type="submit" class="btn-xs btn-danger" id="submit-button">
           Delete Topic
         </button>
      </form>
    <% } %>

  </div>
  <% }); %>

  </div>

</div>
