
<div class="container">
  <div class="row">

    <div class="link-area">
      <a href="/topics">&#9664; Back to all topics</a>
    </div>

    <div class="topic-top-area">
      Currently viewing all topics by:<strong> <%= userid %></strong>. <span>Click on the title for comments.</span>
      <br>
      <!-- <small>(Want to create a new topic? <a href="/topics/new">Click here.</a>)</small>
    </div> -->

    <small>(Don't see one you want?
    <span><button type="submit" class="btn-xs btn-success expand" id="new-comment-button">
      Create a New Topic
    </button>
    )</span></small>
    <!-- </button><u><span class="expand">Create a new topic.</span></u>)</small> -->
  </div>

  <div class="new-content-area hide-at-start">
    <form class="" action="/topics" method="post">
      <input  type="text"
              name="topic[title]"
              placeholder="Title of the new topic, limit 150 characters">
              <br />
      <input  type="text"
              name="topic[description]"
              placeholder="Short description of the new topic, limit 300 characters">
              <br />
      <!-- <input  type="text"
              name="topic[comments]"
              placeholder="comments, comma separated">
              <br />
      <input  type="Number"
              name="topic[likes]"
              placeholder="number of likes">
              <br /> -->
        <button type="submit" class="btn-sm btn-primary" id="submit-button">
          Create New Topic
        </button>
    </form>
  </div>

    <div class="sort-choices-area">
      Sort by: <a href="/users/<%= userid %>">Newest</a> | <span><a href="/users/<%= userid %>/byupdated">Recently Commented</a> |</span> <span><a href="/users/<%= userid %>/bycomments">Most Comments</a> |</span> <span><a href="/users/<%= userid %>/bylikes">Most Likes</a></span>
    </div>

    <% topics.forEach(function (topic) { %>
    <div class="topic-title-description">
        <a href="/topics/<%= topic._id %>">
        <span class="bolder"><%= topic.title %></span>: <%= topic.description %></a>
    </div>

    <div class="topic-misc">
      Created by:
        <a href="/users/<%= topic.userid %>">
          <%= topic.userid %>
        </a> |
      Number of Comments: <%= topic.comments.length %> |
      <span>Number of Likes: <%= topic.likes %></span>

      <br>
      <small>Created on: <%= topic.created %> |
      <span>Last commented: <%= topic.updated %></span>
      </small>
      <br>

    <% if (topic.userid === currentuser) { %>
      <form class="edit-button"
            action="/topics/<%= topic._id %>/edit"
             method="get">
         <button type="submit" class="btn-xs btn-info" id="submit-button">
           Edit
         </button>
      </form> |
      <form class="delete-button"
            action="/topics/<%= topic._id %>?_method=DELETE"
             method="post">
         <button type="submit" class="btn-xs btn-danger" id="submit-button">
           Delete Topic
         </button>
      </form>
    <% } %>

  </div>
  <% }); %>

  </div>

</div>
